[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "==1.85"
click = "==8.1.8"
liftover = "==1.3.2"
numpy = "==2.2.5"
pandas = "==2.2.3"
pyfaidx = "==0.8.1.4"
scikit-allel = "==1.3.13"
torch = "==2.5.1"
tqdm = "==4.67.1"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
